:root{
  --header: #2C3E50;
  --jumbotron-about: #1ABC9C;
  --house: #BA4B63;
  --cake: #1EA4B6;
  --circus: #140F0F;
  --game: #1C83C1;
  --secure: #0E38B5;
  --submarine: #CCB2A3;
  --location: #3A546D;
  --footer: #2C3E50;
}

[class^="container"]{
  border: 1px solid rgb(0, 0, 0);
}

[class^="col"]{
  border: 1px solid red;
}

[class^="box"]{
  height: 100px;
}

header{
  background-color: var(--header);
  height: 100px;
}

.jumbotron, .about{
  background-color: var(--jumbotron-about);
  height: 500px;
  width: 100vw;
}

.location{
  background-color: var(--location);
}

.container-v{
  margin: 0 auto;
  max-width: 1100px;
  width: 90%;
}

.container-about-v{
  margin: 0 auto;
  max-width: 1100px;
  width: 80%;
}

.container-contact-me-v{
  margin: 0 auto;
  max-width: 1100px;
  width: 70%;
}

.colored-text-v{
  color: var(--header);
}

.box-house{
  background-color: var(--house);
}

.box-cake{
  background-color: var(--cake);
}

.box-circus{
  background-color: var(--circus);
}

.box-game{
  background-color: var(--game);
}

.box-secure{
  background-color: var(--secure);
}

.box-submarine{
  background-color: var(--submarine);
}

