:root{
  --header: #2C3E50;
  --jumbotron-about: #1ABC9C;
  --location: #3A546D;
  --footer: #2C3E50;
}

.colored-text-v{
  color: var(--header);
}

.hover{
  cursor: pointer;
}

/* HEADER */
header{
  background-color: var(--header);
  height: 100px;
}

button{
  background-color: transparent;
  padding: 5px 15px;
  color: white;
  border: 1px solid white;
  border-radius: 7px;
}

header button i{
  font-size: 1.5rem;
  font-weight: bold;
}

header li:hover{
  color: var(--jumbotron-about);
}

/* JUMBOTRON */
.jumbotron, .about{
  background-color: var(--jumbotron-about);
}

.jumbotron .avatar-img{
  width: 300px;
  height: 300px;
} 

h1{
  font-size: 2rem;
}

.star-line{
  background-color: white;
}

.container-v{
  margin: 0 auto;
  max-width: 1100px;
  width: 90%;
}

/* PORTFOLIO */
.star-line, .star-line-dark{
  height: 4px;
  width: 90px;
}

.star-line-dark{
  background-color: var(--header);
}

[class^="box"]{
  height: 100%;
  width: 100%;
}

.box-hover{
  background-color: #1abc9c4e;
  top: 0;
  display: none;
}

.fa-plus{
  font-size: 4rem;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

[class^="box"]:hover .box-hover{
  display: block;
}

/* ABOUT */
.container-about-v{
  margin: 0 auto;
  max-width: 1100px;
  width: 80%;
}

/* CONTACT */
.container-contact-me-v{
  margin: 0 auto;
  max-width: 1100px;
  width: 70%;
}

#nome, #email, #numero, #message{
  margin: 10px 0;
  padding-left: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

#nome::placeholder, #email::placeholder, #numero::placeholder, #message::placeholder{
  color: black;
}

#message{
  width: 100%;
  border-top: none;
}

#send{
  background-color: #1ABC9C;
  padding: 10px 15px;
  border: 1px solid #1ABC9C;
}

#send:hover, .download:hover{
  background-color: white;
  color: #1ABC9C;
}

/* INFO */
.location{
  background-color: var(--location);
}

.location i{
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px 15px;
  margin: 0 5px;
}

.location i:first-child{
  padding: 15px 20px;
}

/* FOOTER */
footer{
  background-color: var(--footer);
}

/* REPONSIVE */
@media screen and (min-width: 768px){
  h1{
    font-size: 3.5rem;
  }

  h2{
    font-size: 2.5rem;
  }

  .jumbotron p{
    font-size: 1.5rem;
  }

  .star-line, .star-line-dark{
    width: 200px;
  }

  .location div span:first-child{
    font-size: 1.8rem;
  }
}
